.container{
    width: 500px;
    height: 500px;
    border-top :20px double;
    border-right: 20px dashed;
    border-left: 20px dotted;
    border-bottom: 20px solid;
    display: grid;
    grid-template-columns:100px 2fr 1fr 1fr ;
    grid-template-rows:2fr ;



}
.box{
    border: 2px solid red;
}
.archana{
    background-color: yellow;
    color: black;
    display: flex;
    justify-content: center;
    align-items:center ;
}
